
        <div class="flex h-screen marginLogin animate__animated animate__fadeIn">
            <div class="flex w-full flex align-items-center  justify-content-center font-bold text-gray-900  border-round">
                
                <div class="flex-1 flex align-items-center justify-content-end font-bold text-gray-900 m-0 px-0 py-0 border-round" [ngClass]="!isMobile()? 'justify-content-end ': 'justify-content-center'">
                    <div class="surface-card p-4 shadow-2 border-round"  [ngClass]="!isMobile()? 'w-8 ': 'w-9'">
                        <div class="text-center mb-5">
                            <img src="../../../../assets/logEd.svg" alt="Image" height="100" class="mb-3">
                            <div class="text-900 text-3xl font-medium mb-3">Bienvenido Edison</div>
                            <span class="text-600 font-medium line-height-3">Solo administrador</span>
                            <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/">Ir a la pagina principal</a>
                        </div>
                    
                        <div>
                            <label for="email1" class="block text-900 font-medium mb-2" >Email</label>
                            <input id="email1" type="text" pInputText class="w-full mb-3" >
                    
                            <label for="password1" class="block text-900 font-medium mb-2">Password</label>
                            <p-password type="password" id="password1" [toggleMask]="true" [feedback]="false" inputStyleClass="w-full" styleClass="w-full mb-3" (onFocus)="isFocused=true" ></p-password>
                            <button pButton pRipple label="Sign In" icon="pi pi-user" class="w-full" [ngClass]="isFocused? 'mt-4':'mt-0'"></button>
                        </div>
                        
                    </div>
                </div>
                
            </div>

            <div class="flex w-12 flex align-items-center justify-content-start  font-bold text-gray-900 border-round " *ngIf="!isMobile()">
                <div class="surface-card p-4 shadow-2 border-round h-35rem w-8 borderRadiusLeft imagen">
            </div>

        </div>