
<div
  class="card flex flex-column justify-content-evenly align-items-center w-12 mt-5"
>
  <h2 class="m-0 text-center">Edison López Desarrollador de Software</h2>
  <h1 class="m-0 mb-5 text-center" [style]="{ 'font-size': '3.5rem' }">
    Conoce los proyectos que he desarrollado
  </h1>
</div>

<div
class="w-12"
style="display: flex; justify-content: center; align-items: center;"
>


<div class="grid mt-5 w-10"
    >


  <!-- Atiendo -->
  <p-card class="lg:col-4 sm:col-10 border-round mb-5">
    <div class="text-content mb-3">
        <div class="text-900 font-medium text-xl mb-2">Atiendo</div>
        <span class="block text-500 font-medium mb-3">Sistema de gestión de inventarios y ventas, facturación electrónica, control de caja, reportes de ventas, compras, productos, clientes, descuentos, pedidos sugeridos, movimientos de caja y más. <br><br><br><br></span>
    </div>
    <img src="../../assets/projects/atiendo.png" alt="Imagen del proyecto" class="card-image mb-3" />
    <span class="text-green-500 font-medium mb-2">Angular, .Net Core, SQL Server</span>
    <hr />
    <div class="details mb-3">
        <div>
            <!-- sPAN CON NEGRITAS -->
           
            <span>
                <b>
                    Plataforma: 
                </b>
            </span>
            <span>Movil, Escritorio</span>
        </div>
        <div>
            <span>
                <b>
                Fecha de creación: 
                </b>
            </span>
            <span>2024-09-20</span>
        </div>
    </div>
    <div class="buttons flex justify-content-evenly">
        <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-file" (click)="openLink('https://docs-atiendo.vercel.app')"></button>
        <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-video" (click)="openLink('https://drive.google.com/file/d/1QmZzzIHYubf-yrUraVlh723ekYMOyXQe/view?usp=sharing')"></button>
        <!-- <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-github" (click)="openLink('https://github.com/EdisonLopezEC/AppPlatesRecongnition')"></button> -->
        <!-- <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-github" (click)="openLink('https://github.com/EdisonLopezEC/KnnCnnRecognition')"></button> -->
    </div>
</p-card>

<!-- MERCADOMI -->
<p-card class="lg:col-4 sm:col-10   border-round  mb-5">
  <div class="text-content mb-3">
      <div class="text-900 font-medium text-xl mb-2">Mercadomi</div>
      <span class="block text-500 font-medium mb-3">
        Web y App de delivery de productos del supermercado Mercadomi de la ciudad de Zaruma, permite la gestion completa de pedidos, productos, categorias, pedidos, clientes, reportes, descuentos, promociones, notificaciones push, chat en tiempo real, control de caja, reportes de ventas, compras, productos, clientes, descuentos, entre otros.
      </span>
  </div>
  <img src="../../assets/projects/mercadomi.png" alt="Imagen de Mesa de Ayuda" class="card-image mb-3" />
  <span class="text-green-500 font-medium mb-2">Vue, Laravel, AWS, Firebase, Flutter, Node</span>
  <hr />
  <div class="details mb-3">
      <div>
          <span>
            <b>
                Plataforma:
            </b>
          </span>
          <span>Web, App Store, Play Store</span>
      </div>
      <div>
          <span>
            <b>
            Fecha de creación: 
            </b>
        </span>
          <span>2023-06-20</span>
      </div>
  </div>
  <div class="buttons flex justify-content-evenly">
      <!-- <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-file" (click)="openLink('https://docs-helpdesk-eeasa.vercel.app/')"></button> -->
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-video" (click)="openLink('https://drive.google.com/file/d/1V5CK_fiCY4GWV6ZIRD23hZTz4Fp074p-/view?usp=sharing')"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-facebook" (click)="openLink('https://www.facebook.com/p/Mercadomi-100064332420962/?locale=es_LA')"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-arrow-up-right" (click)="openLink('https://mercadomi.com.ec')"></button>
  </div>
</p-card>

 <!-- Crediplus -->
 <p-card class="lg:col-4 sm:col-10  border-round mb-5">
  <div class="text-content mb-3">
      <div class="text-900 font-medium text-xl mb-2">Crediplus</div>
      <span class="block text-500 font-medium mb-3">Página Web Para empresarial para la caja de ahorro Crediplus de la ciudad de Ambato, es una informativa con diferentes opciones como el cálculo de intereses, simulador de créditos, información de la empresa, contacto, entre otros. <br><br><br><br></span>
  </div>
  <img src="../../assets/projects/crediplus.png" alt="Imagen de CuotaSmart" class="card-image mb-3" />
  <span class="text-green-500 font-medium mb-2">MongoDB, Express, React, Node, Firebase</span>
  <hr />
  <div class="details mb-3">
      <div>
          <span>
            <b>
            Plataforma: 
        </b>
        </span>
          <span>Web</span>
      </div>
      <div>
          <span>
            <b>
            Fecha de creación: 
            </b>
        </span>
          <span>2023-04-08</span>
      </div>
  </div>
  <div class="buttons flex justify-content-evenly">
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-file" (click)="openLink('https://crediplus.vercel.app')"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-video" (click)="openLink('https://drive.google.com/file/d/1cXYKL3O-LFmRhTJUXqUlBQMAbIYjv9Sx/view?usp=sharing')"></button>
      <!-- <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-github" (click)="openLink('https://github.com/EdisonLopezEC/economa')"></button> -->
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-arrow-up-right" (click)="openLink('https://crediplus.com.ec/')"></button>
  </div>
</p-card>



<!-- Placas -->
  <p-card class="lg:col-4 sm:col-10   border-round mb-5">
    <div class="text-content mb-3">
        <div class="text-900 font-medium text-xl mb-2">Reconocimiento De Placas Vehiculares En Tiempo Real</div>
        <span class="block text-500 font-medium mb-3">Reconocimiento mediante Vision por Computador CNN y KNN, uso de tecnicas de Scraping para la obtencion de datos vehiculares, el aplicativo permite obtener la placa de un vehiculo en tiempo real, ademas de la marca, modelo, color, tipo de vehiculo, entre otros.</span>
    </div>
    <img src="../../assets/projects/placas.png" alt="Imagen del proyecto" class="card-image mb-3" />
    <span class="text-green-500 font-medium mb-2">Python, React Native, Firebase</span>
    <hr />
    <div class="details mb-3">
        <div>
            <span>
              <b>
              Plataforma: 
          </b>
          </span>
            <span>
                Movil, Escritorio
            </span>
        </div>
        <div>
            <span>
              <b>
              Fecha de creación: 
              </b>
          </span>
            <span>2023-12-10</span>
        </div>
    </div>
   
    <div class="buttons flex justify-content-between">
        <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-file" (click)="openLink('https://drive.google.com/file/d/1gf8lJCANbLiurpQKYK3shF69ojqvGTi7/view?usp=sharing')"></button>
        <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-video" (click)="openLink('https://drive.google.com/file/d/1QmZzzIHYubf-yrUraVlh723ekYMOyXQe/view?usp=sharing')"></button>
        <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-github" (click)="openLink('https://github.com/EdisonLopezEC/AppPlatesRecongnition')"></button>
        <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-github" (click)="openLink('https://github.com/EdisonLopezEC/KnnCnnRecognition')"></button>
    </div>
</p-card>

<!-- MESA DE AYUDA EEASA -->
<p-card class="lg:col-4 sm:col-10   border-round  mb-5">
  <div class="text-content mb-3">
      <div class="text-900 font-medium text-xl mb-2">Mesa De Ayuda</div>
      <span class="block text-500 font-medium mb-3">Mesa De Ayuda Empresa Electrica Ambato, automatización de procesos de atención al cliente. Permite la gestion de tickets, reportes, usuarios, roles, categorias, prioridades, estados, emails automaticos, reportes, entre otros. <br><br><br><br></span>
  </div>
  <img src="../../assets/projects/eassa.png" alt="Imagen de Mesa de Ayuda" class="card-image mb-3" />
  <span class="text-green-500 font-medium mb-2">React, Spring Boot</span>
  <hr />
  <div class="details mb-3">
    <div>
        <span>
          <b>
          Plataforma: 
      </b>
      </span>
        <span>Web</span>
    </div>
    <div>
        <span>
          <b>
          Fecha de creación: 
          </b>
      </span>
        <span>2023-04-20</span>
    </div>
</div>

  <div class="buttons flex justify-content-between">
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-file" (click)="openLink('https://docs-helpdesk-eeasa.vercel.app/')"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-video" (click)="openLink('https://drive.google.com/file/d/1Mil1Lzu4EMLQtap1DON1BSONu4OkzcUS/view?usp=sharing')"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-github" (click)="openLink('https://github.com/EdisonLopezEC/HelpDesk')"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-arrow-up-right"></button>
  </div>
</p-card>

 <!-- CUOTASMART -->
 <p-card class="lg:col-4 sm:col-10   border-round mb-5">
  <div class="text-content mb-3">
      <div class="text-900 font-medium text-xl mb-2">CuotaSmart</div>
      <span class="block text-500 font-medium mb-3">Administrador de cooperativas, permite la configuración de los diferentes créditos, tipos de créditos, tasas de interés, plazos, montos, reportes y calculo de cuotas que brinda una tabla de amortización detallada. <br><br><br><br></span>
  </div>
  <img src="../../assets/projects/economa.png" alt="Imagen de CuotaSmart" class="card-image mb-3" />
  <span class="text-green-500 font-medium mb-2">JavaScript, HTML, CSS</span>
  <hr />
  <div class="details mb-3">
    <div>
        <span>
          <b>
          Plataforma: 
      </b>
      </span>
        <span>Web</span>
    </div>
    <div>
        <span>
          <b>
          Fecha de creación: 
          </b>
      </span>
        <span>2023-09-21</span>
    </div>
</div>

  <div class="buttons flex justify-content-between">
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-file"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-video" (click)="openLink('https://drive.google.com/file/d/1cXYKL3O-LFmRhTJUXqUlBQMAbIYjv9Sx/view?usp=sharing')"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-github" (click)="openLink('https://github.com/EdisonLopezEC/economa')"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-arrow-up-right" (click)="openLink('https://economa.vercel.app/')"></button>
  </div>
</p-card>



<!-- <p-card class=" lg:col-4 sm:col-10   p-3 border-round mr-1 p-1 mb-5"> -->


<!-- INDUSTRIAL -->
<p-card class="lg:col-4 md:col-6 sm:col-10  border-round mb-5">
  <div class="text-content mb-3">
      <div class="text-900 font-medium text-xl mb-2">Industrial</div>
      <span class="block text-500 font-medium mb-3">Diseño de una pagina web para una empresa industrial, totalmente responsive y con un diseño moderno y atractivo. <br><br><br><br></span>
  </div>
  <img src="../../assets/projects/lamigav.png" alt="Imagen de Industrial" class="card-image mb-3" />
  <span class="text-green-500 font-medium mb-2">JavaScript, HTML, CSS</span>
  <hr />

  <div class="details mb-3">
    <div>
        <span>
          <b>
          Plataforma: 
      </b>
      </span>
        <span>Web</span>
    </div>
    <div>
        <span>
          <b>
          Fecha de creación: 
          </b>
      </span>
        <span>2022-12-21</span>
    </div>
</div>
 
  <div class="buttons flex justify-content-between">
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-file"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-video"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-github" (click)="openLink('https://github.com/EdisonLopezEC/industrial')"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-arrow-up-right" (click)="openLink('https://industrial-two.vercel.app/')"></button>
  </div>
</p-card>


 


<!-- GESTIN -->
<p-card class="lg:col-4 sm:col-10 border-round mb-5">
  <div class="text-content mb-3">
      <div class="text-900 font-medium text-xl mb-2">Gestin</div>
      <span class="block text-500 font-medium mb-3">Aplicativo de escritorio y movil para la gestión de incidecias, permite la creación de tickets, reportes, usuarios, roles, categorias, prioridades, estados, gráficos, reportes, entre otros. <br><br></span>
  </div>
  <img src="../../assets/projects/gestin.png" alt="Imagen de Gestin" class="card-image mb-3" />
  <span class="text-green-500 font-medium mb-2">React, React Native, Firebase, Electron JS</span>
  <hr />
  <div class="details mb-3">
    <div>
        <span>
          <b>
          Plataforma: 
      </b>
      </span>
        <span>
            Web, Móvil
        </span>
    </div>
    <div>
        <span>
          <b>
          Fecha de creación: 
          </b>
      </span>
        <span>2021-02-10</span>
    </div>
</div>
 
  <div class="buttons flex justify-content-between">
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-file" (click)="openLink('https://drive.google.com/file/d/1MjHFIHCqH-ht5RP7cLQmQUtFpDvBua16/view?usp=sharing')"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-video" (click)="openLink('https://drive.google.com/file/d/1MjKyPnsML2vuWlXCCWpoG2viRWt7zdL-/view?usp=sharing')"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-github"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-arrow-up-right" (click)="openLink('https://drive.google.com/drive/folders/19L9Rphknua2KUEmotH5-xFCdTpGkD5SV?usp=share_link')"></button>
  </div>
</p-card>



<!-- UTA PLATAFORMA -->
<p-card class="lg:col-4 sm:col-10   border-round mb-5">
  <div class="text-content mb-3">
      <div class="text-900 font-medium text-xl mb-2">UTA Plataforma</div>
      <span class="block text-500 font-medium mb-3">Plataforma de escritorio en base a la Universidad Técnica de Ambato, para la gestión de estudiantes, docentes, materias, horarios, notas, reportes, entre otros. <br><br><br></span>
  </div>
  <img src="../../assets/projects/uta.png" alt="Imagen de UTA Plataforma" class="card-image mb-3" />
  <span class="text-green-500 font-medium mb-2">Java, SQL</span>
  <hr />
  <div class="details mb-3">
    <div>
        <span>
          <b>
          Plataforma: 
      </b>
      </span>
        <span>Escritorio</span>
    </div>
    <div>
        <span>
          <b>
          Fecha de creación: 
          </b>
      </span>
        <span>2021-03-15</span>
    </div>
</div>
 
  <div class="buttons flex justify-content-between">
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-file" (click)="openLink('https://drive.google.com/drive/folders/1QsmyLZFHLWUScF-6h4nTBgGQfwGuNqoH?usp=share_link')"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-video" (click)="openLink('https://drive.google.com/file/d/1MjKyPnsML2vuWlXCCWpoG2viRWt7zdL-/view?usp=sharing')"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-github" (click)="openLink('https://laberinto-ia.vercel.app')"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-arrow-up-right" (click)="openLink('https://drive.google.com/drive/folders/19L9Rphknua2KUEmotH5-xFCdTpGkD5SV?usp=share_link')"></button>
  </div>
</p-card>


  <!-- MUSIC APP -->
<p-card class="lg:col-4 sm:col-10 border-round mb-5">
  <div class="text-content mb-3">
      <div class="text-900 font-medium text-xl mb-2">Music App</div>
    <span class="block text-500 font-medium mb-3">Web para reproducir y disfrutar videos musicales. Consumo de API de Youtube para obtener videos musicales y Genius para la información de las canciones así como las canciónes más populares. <br><br><br><br></span>
  </div>
  <img src="../../assets/projects/musicapp.png" alt="Imagen de Music App" class="card-image mb-3" />
  <span class="text-green-500 font-medium mb-2">React, Firebase</span>
  <hr />
  <div class="details mb-3">
    <div>
        <span>
          <b>
          Plataforma: 
      </b>
      </span>
        <span>Web</span>
    </div>
    <div>
        <span>
          <b>
          Fecha de creación: 
          </b>
      </span>
        <span>2020-01-10</span>
    </div>
</div>

  <div class="buttons flex justify-content-between">
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-file"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-video" (click)="openLink('https://drive.google.com/file/d/1wSCgfOUhc85Etl-YWmKMPmdz2AuEcqTE/view?usp=sharing')"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-github" (click)="openLink('https://github.com/EdisonLopezEC/music-app')"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-arrow-up-right" (click)="openLink('https://music-app-kj1i.vercel.app/home')"></button>
  </div>
</p-card>


  <!-- LABERINTO ARBOLES -->
  <p-card class="lg:col-4 sm:col-10 border-round mb-5">
    <div class="text-content mb-3">
        <div class="text-900 font-medium text-xl mb-2">Laberinto Arboles de decisión</div>
        <span class="block text-500 font-medium mb-3">Aplicativo lógico para la resolución de laberintos mediante arboles de decisión, permite la creación de laberintos randomicos, resolución de laberintos, visualización de la solución mediante arboles de decisión. <br><br><br><br></span>
    </div>
    <img src="../../assets/projects/laberinto.png" alt="Imagen de LaberintoIA" class="card-image mb-3" />
    <span class="text-green-500 font-medium mb-2">JavaScript</span>
    <hr />
    <div class="details mb-3">
        <div>
            <span>
              <b>
              Plataforma: 
          </b>
          </span>
            <span>Web</span>
        </div>
        <div>
            <span>
              <b>
              Fecha de creación: 
              </b>
          </span>
            <span>2023-09-20</span>
        </div>
    </div>
 
    <div class="buttons flex justify-content-between">
        <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-file"></button>
        <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-video"></button>
        <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-github" (click)="openLink('https://github.com/EdisonLopezEC/LaberintoIA')"></button>
        <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-arrow-up-right" (click)="openLink('https://laberinto-ia.vercel.app/')"></button>
    </div>
</p-card>




  <!-- GIFS APP  -->
  <p-card class="lg:col-4 sm:col-10 border-round mb-5">
    <div class="text-content mb-3">
        <div class="text-900 font-medium text-xl mb-2">GifApp</div>
        <span class="block text-500 font-medium mb-3">Aplicativo para la busqueda de gifs, permite la busqueda de gifs mediante la API de Giphy, visualización de gifs, descarga de gifs, visualización de gifs populares, tendencias, entre otros. <br><br><br><br></span>
    </div>
    <img src="../../assets/projects/gifs.png" alt="Imagen de GifApp" class="card-image mb-3" />
    <span class="text-green-500 font-medium mb-2">React, API Giphy</span>
    <hr />
    <div class="details mb-3">
        <div>
            <span>
              <b>
              Plataforma: 
          </b>
          </span>
            <span>Web</span>
        </div>
        <div>
            <span>
              <b>
              Fecha de creación: 
              </b>
          </span>
            <span>2021-08-17</span>
        </div>
    </div>

    <div class="buttons flex justify-content-between">
        <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-file"></button>
        <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-video"></button>
        <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-github" (click)="openLink('https://github.com/EdisonLopezEC/appGif')"></button>
        <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-arrow-up-right" (click)="openLink('https://mundodelapila-b96k-edisonlopezec.vercel.app/')"></button>
    </div>
</p-card>




  
<p-card class="lg:col-4 sm:col-10 border-round mb-5">
  <div class="text-content mb-3">
      <div class="text-900 font-medium text-xl mb-2">Clima</div>
      <span class="block text-500 font-medium mb-3">Aplicación de clima local y mundial mediante el uso de la API de OpenWeather, permite la busqueda de ciudades, visualización de clima actual, pronostico de 5 días, visualización de temperatura, humedad, viento, entre otros. <br><br><br></span>
  </div>
  <img src="../../assets/projects/clima.png" alt="Imagen de Clima" class="card-image mb-3" />
  <span class="text-green-500 font-medium mb-2">JavaScript, HTML, CSS</span>
  <hr />
  <div class="details mb-3">
    <div>
        <span>
          <b>
          Plataforma: 
      </b>
      </span>
        <span>Web</span>
    </div>
    <div>
        <span>
          <b>
          Fecha de creación: 
          </b>
      </span>
        <span>2021-04-28</span>
    </div>
</div>

  <div class="buttons flex justify-content-between">
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-file"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-video"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-github" (click)="openLink('https://github.com/EdisonLopezEC/clima')"></button>
      <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-arrow-up-right" (click)="openLink('https://clima-sigma-mocha.vercel.app/')"></button>
  </div>
</p-card>



</div>
</div>
