<div
  class="card flex flex-column justify-content-evenly align-items-center w-12 mt-5"
>
  <h2 class="m-0 text-center">Edison López Desarrollador de Software</h2>
  <h1 class="m-0 mb-5 text-center" [style]="{ 'font-size': '3.5rem' }">
    Conoce los proyectos que e desarrollado
  </h1>
</div>

<div class="grid pl-5 pr-5 mt-5">
  <p-card
    class="surface-card shadow-3 p-3 border-round"
    class="mr-1 p-1"
  >
    <div class="flex justify-content-between mb-3">
      <div>
        <span class="block text-500 font-medium mb-3">Gestion de tareas empresariales</span>
        <div class="text-900 font-medium text-xl">Gestin</div>
      </div>

    </div>
    <span class="text-green-500 font-medium">React, React Native, Firebase</span>
    <hr />
    <div fxLayout="row" fxLayoutAlign="space-between">
      <span class="text-200">Movil y Escritorio</span>
        <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-arrow-up-right"  (click)="openLink('https://drive.google.com/drive/folders/19L9Rphknua2KUEmotH5-xFCdTpGkD5SV?usp=share_link')"></button>
    </div>
  </p-card>

<p-card
class="surface-card shadow-3 p-3 border-round"
class="mr-1 p-1"
>
<div class="flex justify-content-between mb-3">
  <div>
    <span class="block text-500 font-medium mb-3">Sistema educativo similiar UTA</span>
    <div class="text-900 font-medium text-xl">UTA Plataforma</div>
  </div>

</div>
<span class="text-green-500 font-medium">Java, MySql</span>
<hr />
<div fxLayout="row" fxLayoutAlign="space-between">
  <span class="text-200">Escritorio</span>
    <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-arrow-up-right" (click)="openLink('https://drive.google.com/drive/folders/1QsmyLZFHLWUScF-6h4nTBgGQfwGuNqoH?usp=share_link')"></button>
</div>
</p-card>


<p-card
class="surface-card shadow-3 p-3 border-round"
class="mr-1 p-1"
>
<div class="flex justify-content-between mb-3">
  <div>
    <span class="block text-500 font-medium mb-3">LaberintoIA mediante Arboles</span>
    <div class="text-900 font-medium text-xl">LaberintoIA</div>
  </div>

</div>
<span class="text-green-500 font-medium">JavaScript</span>
<hr />
<div fxLayout="row" fxLayoutAlign="space-between">
  <span class="text-200">Web</span>
    <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-arrow-up-right" (click)="openLink('https://laberinto-ia.vercel.app/')"></button>
</div>
</p-card>
</div>
