.contenedor{
    height: 95vh;
}
.contenedorTabla{
    height: 70vh;
    overflow: auto;

}
.hola{
    height: 30rem;
}
.scroll{
    overflow-y: scroll;
    max-height: 29rem;
    overflow-x: hidden;
    padding: 0;
}