<!-- <div class="flex align-items-center justify-content-center h-screen marginLogin animate__animated animate__fadeIn">
  <div
    class="flex w-full flex align-items-center justify-content-center font-bold text-gray-900 border-round"
  >
    <div
      class="flex-1 flex align-items-center justify-content-center font-bold text-gray-900 m-0 px-0 py-0 border-round"
      [ngClass]="!isMobile() ? 'justify-content-end ' : 'justify-content-center'"
    >
      <div
        class="surface-card p-4 shadow-2 border-round"
        [ngClass]="!isMobile() ? 'w-8 ' : 'w-9'"
      >
        <div class="text-center mb-5">
          <div class="text-900 text-3xl font-medium mb-3">
            CONTACTAME
          </div>
          <a
            class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
            routerLink="/"
            >Ir a la pagina principal</a
          >
        </div>

        <div class="mb-4 flex input-container">
          <div class="pr-2 w-full">
            <label for="nombre" class="block text-900 font-medium mb-2">Nombre</label>
            <input type="text" pInputText class="w-full border rounded px-3 py-2" name="nombre" [(ngModel)]="nombre" />
          </div>
          <div class="pl-2 w-full">
            <label for="apellido" class="block text-900 font-medium mb-2">Apellido</label>
            <input type="text" pInputText class="w-full border rounded px-3 py-2" name="apellido" [(ngModel)]="apellido" />
          </div>
        </div>

        <div class="mb-4 flex input-container">
          <div class="pr-2 w-full">
            <label for="telefono" class="block text-900 font-medium mb-2">Teléfono</label>
            <input type="text" pInputText class="w-full border rounded px-3 py-2" name="telefono" [(ngModel)]="telefono" />
          </div>
          <div class="pl-2 w-full">
            <label for="email" class="block text-900 font-medium mb-2">Email</label>
            <input type="text" pInputText class="w-full border rounded px-3 py-2" name="email" [(ngModel)]="email" />
          </div>
        </div>

        <div class="mb-4">
          <label for="mensaje" class="block text-900 font-medium mb-2">Mensaje</label>
          <textarea pInputText class="w-full border rounded px-3 py-2" name="mensaje" [(ngModel)]="mensaje"></textarea>
        </div>

        <button
          pButton
          pRipple
          label="Enviar Mensaje"
          icon="pi pi-user"
          class="w-full mt-4"
          (click)="enviar()"
        ></button>
      </div>
    </div>
  </div>
</div>

 -->

 <div class="flex align-items-center justify-content-center h-screen marginLogin animate__animated animate__fadeIn">
  <div
    class="flex w-full flex align-items-center justify-content-center font-bold text-gray-900 border-round"
  >
    <div
      class="flex-1 flex align-items-center justify-content-center font-bold text-gray-900 m-0 px-0 py-0 border-round"
      [ngClass]="!isMobile() ? 'justify-content-end ' : 'justify-content-center'"
    >
      <div
        class="surface-card p-4 shadow-2 border-round"
        [ngClass]="!isMobile() ? 'w-8 ' : 'w-9'"
      >
        <div class="text-center mb-5">
          <div class="text-900 text-3xl font-medium mb-3">
            CONTACTAME
          </div>
          <a
            class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
            routerLink="/"
            >Ir a la pagina principal</a
          >
        </div>

        <div class="mb-4 flex input-container">
          <div class="pr-2 w-full">
            <label for="nombre" class="block text-900 font-medium mb-2">Nombre</label>
            <input type="text" pInputText class="w-full border rounded px-3 py-2" name="nombre" [(ngModel)]="nombre" placeholder="Ingresa tu nombre" />
          </div>
          <div class="pl-2 w-full">
            <label for="apellido" class="block text-900 font-medium mb-2">Apellido</label>
            <input type="text" pInputText class="w-full border rounded px-3 py-2" name="apellido" [(ngModel)]="apellido" placeholder="Ingresa tu apellido" />
          </div>
        </div>
        
        <div class="mb-4 flex input-container">
          <div class="pr-2 w-full">
            <label for="telefono" class="block text-900 font-medium mb-2">Teléfono</label>
            <input type="text" pInputText class="w-full border rounded px-3 py-2" name="telefono" [(ngModel)]="telefono" placeholder="Ingresa tu teléfono" />
          </div>
          <div class="pl-2 w-full">
            <label for="email" class="block text-900 font-medium mb-2">Email</label>
            <input type="text" pInputText class="w-full border rounded px-3 py-2" name="email" [(ngModel)]="email" placeholder="Ingresa tu email" />
          </div>
        </div>
        
        <div class="mb-4">
          <label for="mensaje" class="block text-900 font-medium mb-2">Mensaje</label>
          <textarea pInputText class="w-full border rounded px-3 py-2" name="mensaje" [(ngModel)]="mensaje" placeholder="Escribe tu mensaje aquí"></textarea>
        </div>
        
        <button
          pButton
          pRipple
          label="Enviar Mensaje"
          icon="pi pi-user"
          class="w-full mt-4"
          (click)="enviar()"
        ></button>
      </div>
    </div>
  </div>
</div> 
