<div
  class="card flex flex-column justify-content-evenly align-items-center w-12 mt-5"
>
  <h2 class="m-0 text-center">Edison López Desarrollador de Software</h2>
  <h1 class="m-0 text-center" [style]="{ 'font-size': '3.5rem' }">Conoce las tecnologías que domino</h1>
</div>

<div class="grid pl-5 pr-5 mt-5">
  <div
    class="col-12 sm:col-12 md:col-6 lg:col-3 animate__animated animate__zoomIn"
    pRipple
    *ngFor="let skill of skills"
  >
  <p-card 
  [style]="{ 'background': 'rgba(255, 255, 255, 0.07)', 'border-radius': '8px', 'box-shadow': '0 4px 8px rgba(0, 0, 0, 0.1)', 'height': '480px' }"
  styleClass="custom-card"
>
  <ng-template pTemplate="header">
    <div 
      [style]="{ 'background': skill.bg, 'border-top-left-radius': '8px', 'border-top-right-radius': '8px', 'padding': '16px', 'text-align': 'center' }"
      class="header-container"
    >
      <img alt="Card" [src]="skill.image" style="max-width: 100%; height: auto; border-radius: 50%;" />
    </div>
  </ng-template>

  <div style="padding: 16px; display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
    <div>
      <p style="margin-bottom: 12px; font-size: 18px; font-weight: bold; text-align: center;">{{ skill.name }}</p>
      <p style="margin-bottom: 12px; font-size: 14px; color: #666; text-align: center;">{{ skill.description }}</p>
      <p  style="margin-bottom: 12px; font-size: 14px; color: #666; text-align: center; font-weight: bold;">Tiempo de experiencia: <span  style="margin-bottom: 12px; font-size: 14px; color: #666; text-align: center; font-weight: lighter;">{{skill.experience}}</span></p>
      <!-- Linea divisora -->
      <div style="border-bottom: 1px solid #eeeeee1e; margin-bottom: 12px;"></div>
        

      <div style="text-align: center; margin-bottom: 12px;">
        <p-progressBar [value]="skill.level" mode="determinate" styleClass="progressbar-custom"></p-progressBar>
      </div>
    </div>
    <div style="text-align: center;">
    </div>
  </div>
</p-card>


  
  </div>
</div>

