<div
  class="card flex flex-column justify-content-evenly align-items-center w-12 mt-5"
>
  <h2 class="m-0 text-center">Hola, soy Edison López</h2>
  <h1 class="m-0 text-center" [style]="{ 'font-size': '3.5rem' }">Conoce las tecnologias que domino</h1>
  <p class="mb-3 text-center">apasionado por el desarrollo.</p>
</div>

<div class="grid pl-5 pr-5 mt-5">
  <div
    class="col-12 sm:col-12 md:col-6 lg:col-3 animate__animated animate__zoomIn"
    pRipple
    *ngFor="let skill of skills"
  >
    <p-card
      [header]="skill.name"
      [style]="{
        background: 'rgba(255, 255, 255, 0.07)'
      }"
    >
      <ng-template pTemplate="header">
        <div [style]="{ background: [skill.bg] }">
          <img alt="Card" [src]="skill.image" />
        </div>
      </ng-template>

      <p style="padding: 0; text-align: center">{{ skill.description }}</p>
    </p-card>
  </div>
</div>

<p-button (click)="addSkill()">add</p-button>
