.card{
    width: 100px;
    background-color: #071426;
    height: 100vh;
    z-index: -1;
    padding: -8px;
    margin: -8px;
    border-radius: 0px 40px 40px 0;
}
.card-route{
    background-color: aqua;
    width: 100%;
}