html, body{
    /* background-color: ; */
    font-family: var( --font-family );
}
p{
    margin: var(--spacing-m) 0;
}
.animate__animated.animate__bounceIn {
    --animate-duration: 1.3s;
  }

  .spacer{
    height: var(--spacing-xl);
  }
