<p-menubar [model]="items" class="fixed-header mb-3"  [style]="{'height':'7vh'}">
  <ng-template pTemplate="end">
      <p-inputSwitch [(ngModel)]="themeSelection" (onChange)="changeTheme($event.checked)"></p-inputSwitch>
      <!-- <app-toggle [(ngModel)]="themeSelection"  (onChange)="changeTheme($event)"></app-toggle> -->
  </ng-template>
</p-menubar>

<div 

class="content-wrapper grid mt-3 pl-4 pr-4" [style]="{ height: '82vh' }">
  <!-- IZQUIERDA -->
  <div
    class="col-12 sm:col-6 md:col-6 lg:col-6 flex align-items-center justify-content-center animate__animated animate__fadeIn"
  >

    <div
      class="card flex flex-column justify-content-evenly align-items-center"
      style="width: '90%'"
      [style]="{ 'text-align': 'center' }"
    >
      <h2 class="m-0">Hola, soy Edison López</h2>
      <h1 class="m-0" [style]="{ 'font-size': '3.5rem' }">
        Ingeniero de Software
      </h1>
      <!-- <p class="mb-3">apasionado por el desarrollo.</p> -->
      <div
      [ngClass]="themeSelection ? 'bodyy' : 'bodyywhite'"
        class="bodyy"
      >

      <div
      [ngClass]="themeSelection ? 'animated-text' : 'animated-textwhite'"

      >
        apasionado por <span></span>
    </div>
  </div>

      <div class="flex justify-content-evenly" style="width: 100%">
        <button
          *ngIf="!isMobile()"
          pButton
          pRipple
          label="Descagar CV"
          (click)="openLink('https://drive.google.com/file/d/1sbbMaxkbi_eEKxZ3Q6sjdC9D6JiyK8aC/view?usp=sharing')"
          class="p-button-info p-button-sm"
          icon="pi pi-download"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-github"
          (click)="openLink('https://github.com/EdisonLopezEC')"
          class="p-button-secondary p-button-rounded p-button-outlined p-button-sm"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-linkedin"
          (click)="openLink('https://www.linkedin.com/in/edison-lopez-698b20234/')"
          class="p-button-info p-button-rounded p-button-outlined p-button-sm"
          
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-whatsapp"
          (click)="openLink('https://wa.me/+5930987784159')"
          class="p-button-success p-button-rounded p-button-outlined p-button-sm"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-telegram"
          (click)="openLink('https://wa.me/+5930987784159')"
          class="p-button-rounded p-button-outlined p-button-sm"
        ></button>
      </div>
    </div>
  </div>
  <!-- FIN IZQUIEDA -->

  <!-- LOGO -->
  <div
    class="col-12 sm:col-6 md:col-6 lg:col-6 flex align-items-center justify-content-center"
  >
    <img
      src="../../../assets/ofi.svg"
      alt=""
      width="82%"
      class="animate__animated animate__zoomIn"
    />
  </div>
  <!-- FIN LOGO -->
</div>

<br />
<br/>

<div
  id="skills"
  class="content-wrapper grid mt-3"
>
  <app-skills
  ></app-skills>
</div>

<app-experience
  id="experience"
  >
</app-experience>

<div
  id="projects"

>
<app-projects-home

></app-projects-home>
</div>

<app-contact
  id="contact"
  ></app-contact>

<!-- FOOTER -->
<body
  class="bodyclass"

>

    <div class="footer">
        <div class="bubbles">
            <div class="bubble"
                style="--size:3.283778460829012rem; --distance:8.273995682244763rem; --position:80.43121961838831%; --time:3.370470516561046s; --delay:-2.4460750377075677s;">
            </div>
            <div class="bubble"
                style="--size:5.048775832023261rem; --distance:8.209048016743958rem; --position:81.24435161533792%; --time:2.689387587750886s; --delay:-3.178866630821537s;">
            </div>
            <div class="bubble"
                style="--size:2.8917775001193196rem; --distance:8.454264258769582rem; --position:-1.892480833658683%; --time:2.870417823317806s; --delay:-3.8694363898657054s;">
            </div>
            <div class="bubble"
                style="--size:2.98950564759547rem; --distance:6.810598321237242rem; --position:100.02057873419844%; --time:2.2412476180211125s; --delay:-3.9669609230968366s;">
            </div>

            <div class="bubble"
                style="--size:4.298088157115222rem; --distance:8.644044369523485rem; --position:25.709431630582966%; --time:3.9945321241856395s; --delay:-3.6007615466734237s;">
            </div>
        </div>
        <div class="content">
         
            <p class="footer__copy">Edison López | ©Copyright All rights reserved</p>
        </div>
    </div>
    <svg style="position:fixed; top:100vh">
        <defs>
            <filter id="blob">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                    result="blob">
                </feColorMatrix>
            </filter>
        </defs>
    </svg>

</body>





