<p-menubar [model]="items" class="fixed-header mb-3"  [style]="{'height':'7vh'}">
  <ng-template pTemplate="end">
      <p-inputSwitch [(ngModel)]="themeSelection" (onChange)="changeTheme($event.checked)"></p-inputSwitch>
      <app-toggle [(ngModel)]="themeSelection" (onChange)="changeTheme(true)"></app-toggle>
  </ng-template>
</p-menubar>




<div class="content-wrapper grid mt-3 pl-4 pr-4" [style]="{ height: '82vh' }">
  <!-- IZQUIERDA -->
  <div
    class="col-12 sm:col-6 md:col-6 lg:col-6 flex align-items-center justify-content-center animate__animated animate__fadeIn"
  >

    <div
      class="card flex flex-column justify-content-evenly align-items-center"
      style="width: '90%'"
      [style]="{ 'text-align': 'center' }"
    >
      <h2 class="m-0">Hola, soy Edison López</h2>
      <h1 class="m-0" [style]="{ 'font-size': '3.5rem' }">
        Ingeniero de Software
      </h1>
      <p class="mb-3">apasionado por el desarrollo.</p>

      <div class="flex justify-content-evenly" style="width: 100%">
        <button
          *ngIf="!isMobile()"
          pButton
          pRipple
          label="Descagar CV"
          (click)="openLink('https://drive.google.com/file/d/1N2rckEisLXxkQi0KjfP_SWPCHYCOuBlb/view?usp=sharing')"
          class="p-button-info p-button-sm"
          icon="pi pi-download"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-github"
          (click)="openLink('https://github.com/EdisonLopezEC')"
          class="p-button-secondary p-button-rounded p-button-outlined p-button-sm"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-linkedin"
          (click)="openLink('https://www.linkedin.com/in/edison-lopez-698b20234/')"
          class="p-button-info p-button-rounded p-button-outlined p-button-sm"
          
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-whatsapp"
          (click)="openLink('https://wa.me/+5930987784159')"
          class="p-button-success p-button-rounded p-button-outlined p-button-sm"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-telegram"
          (click)="openLink('https://wa.me/+5930987784159')"
          class="p-button-rounded p-button-outlined p-button-sm"
        ></button>
      </div>
    </div>
  </div>
  <!-- FIN IZQUIEDA -->

  <!-- LOGO -->
  <div
    class="col-12 sm:col-6 md:col-6 lg:col-6 flex align-items-center justify-content-center"
  >
    <img
      src="../../../assets/ofi.svg"
      alt=""
      width="82%"
      class="animate__animated animate__zoomIn"
    />
  </div>
  <!-- FIN LOGO -->
</div>
<br />
<br/>
<div
  id="skills"
  class="content-wrapper grid mt-3 pl-4 pr-4"
>
  <app-skills
  ></app-skills>
</div>


<div
  id="projects"
  class="content-wrapper grid mt-3 pl-4 pr-4"
>
<app-projects-home
></app-projects-home>
</div>



<body
  class="bodyclass"

>

    <div class="footer">
        <div class="bubbles">
            <div class="bubble"
                style="--size:3.283778460829012rem; --distance:8.273995682244763rem; --position:80.43121961838831%; --time:3.370470516561046s; --delay:-2.4460750377075677s;">
            </div>
            <div class="bubble"
                style="--size:5.048775832023261rem; --distance:8.209048016743958rem; --position:81.24435161533792%; --time:2.689387587750886s; --delay:-3.178866630821537s;">
            </div>
            <div class="bubble"
                style="--size:2.8917775001193196rem; --distance:8.454264258769582rem; --position:-1.892480833658683%; --time:2.870417823317806s; --delay:-3.8694363898657054s;">
            </div>
            <div class="bubble"
                style="--size:2.98950564759547rem; --distance:6.810598321237242rem; --position:100.02057873419844%; --time:2.2412476180211125s; --delay:-3.9669609230968366s;">
            </div>
            <!-- <div class="bubble"
                style="--size:3.056008172581711rem; --distance:7.571228915589839rem; --position:101.36290426526402%; --time:3.556279976104421s; --delay:-2.601994631532017s;">
            </div>
            <div class="bubble"
                style="--size:3.22671020910027rem; --distance:8.977876061761204rem; --position:69.44795371340336%; --time:2.0813687087410555s; --delay:-2.561126203255737s;">
            </div>
          
            <div class="bubble"
                style="--size:4.1177605678413265rem; --distance:8.34852219885391rem; --position:29.490529078305904%; --time:3.2706309302541188s; --delay:-3.7771110698550556s;">
            </div>
            <div class="bubble"
                style="--size:5.9527591413810015rem; --distance:8.228548797101368rem; --position:86.92141319108892%; --time:2.1195045300057886s; --delay:-2.1550354449961038s;">
            </div> -->
            <!-- <div class="bubble"
                style="--size:3.4122434983866006rem; --distance:7.8470984688972765rem; --position:-4.737684816944457%; --time:3.361433469609846s; --delay:-2.7510535260586435s;">
            </div>
            <div class="bubble"
                style="--size:3.767163633315376rem; --distance:8.004107269407179rem; --position:58.86574552235167%; --time:2.4584153129693487s; --delay:-3.8899327217598216s;">
            </div>
            <div class="bubble"
                style="--size:4.966101867270128rem; --distance:8.096238035862653rem; --position:73.33011876280814%; --time:3.2569085513280767s; --delay:-2.927105754623504s;">
            </div>
            <div class="bubble"
                style="--size:5.239318894400097rem; --distance:8.21018133412617rem; --position:49.79329539415349%; --time:2.486417355278126s; --delay:-3.935240915466869s;">
            </div>
           
            <div class="bubble"
                style="--size:4.416267568041894rem; --distance:8.454455353587463rem; --position:16.18344707827548%; --time:2.6786658712942186s; --delay:-3.7145978779515363s;">
            </div>
            <div class="bubble"
                style="--size:5.179842125942596rem; --distance:6.279313089480346rem; --position:51.631946389170714%; --time:2.9215376152158723s; --delay:-3.579196747493768s;">
            </div> -->
            <div class="bubble"
                style="--size:4.298088157115222rem; --distance:8.644044369523485rem; --position:25.709431630582966%; --time:3.9945321241856395s; --delay:-3.6007615466734237s;">
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="footer__label">
                    <h2 class="footer__title">EdisonLópez</h2>
                    <span class="footer__subtitle">Company Description</span>
                </div>

                <ul class="footer__links">
                    <li>
                        <a href="" class="footer__link">Home</a>
                    </li>
                    <li>
                        <a href="" class="footer__link">About</a>
                    </li>
                    <li>
                        <a href="" class="footer__link">Services</a>
                    </li>
                    <li>
                        <a href="" class="footer__link">Portflio</a>
                    </li>
                    <li>
                        <a href="" class="footer__link">Contact</a>
                    </li>

                </ul>
                <div class="footer__socials">
                    <a href="" class="footer__social">
                        <i class="uil uil-github-alt social__icon"></i>
                    </a>
                    <a href="" class="footer__social">
                        <i class="fa-brands fa-codepen"></i>
                    </a>
                    <a href="" class="footer__social">
                        <i class="uil uil-instagram"></i>
                    </a>
                    <a href="" class="footer__social">
                        <i class="uil uil-linkedin-alt"></i>
                    </a>
                </div>
            </div>
            <p class="footer__copy">rjksharma | ©Copyright All rights reserved</p>
        </div>
    </div>
    <svg style="position:fixed; top:100vh">
        <defs>
            <filter id="blob">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                    result="blob">
                </feColorMatrix>
            </filter>
        </defs>
    </svg>

</body>





